<div class="container-fluid text-center in">
  <img src="assets/img/home/Logo.png" width="200px" alt="">
  <h1>Qualitat Cotizador</h1>
  <h1>Ingreso datos</h1>

  <div class="box mx-auto">
    <form>
      <div class="form-group row">
        <label for="nombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="nombre" placeholder="Ingrese su nombre">
        </div>
      </div>
      <div class="form-group row">
        <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="apellido" placeholder="Ingrese su apellido">
        </div>
      </div>
      <div class="form-group row">
        <label for="correo" class="col-sm-2 col-form-label">Correo</label>
        <div class="col-sm-10">
          <input type="email" class="form-control-plaintext" id="correo" placeholder="example@example.com">
        </div>
      </div>
      <div class="form-group row">
        <label for="telefono" class="col-sm-2 col-form-label">Telefono</label>
        <div class="col-sm-10">
          <input type="text" class="form-control-plaintext" id="telefono" placeholder="9 1234 5678">
        </div>
      </div>
      <video src="assets/img/home/Qualitat.mp4" width="100%" oncontextmenu="return false;" controlslist="nodownload" controls preload="auto" poster="assets/img/home/PlaceHolder.png">
        Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.<br>
      </video>
      <button type="submit" class="form-control" ><img src="assets/img/home/Boton.png" width="100%" alt=""></button>
    </form>
  </div><br>
</div>
